<wa-dialog id="apikeydialog" label="API Key" light-dismiss>
  <div class="wa-stack">
    <wa-input id="apikeyid" style="display: none;"></wa-input>
    <wa-input id="apikeydescription" label="Description" required autofocus maxlength="50"></wa-input>
    <div id="apikeyselectuser" class="wa-flank">
      <wa-input style="display: none;" id="apikeyuserid"></wa-input>
      <wa-button id="apikeysearchuser" variant="warning">Select user</wa-button>
      <wa-input id="apikeyuserdesc" readonly></wa-input>
    </div>
    <wa-input id="apikeytimewhitelist" label="Time whitelist" placeholder="DDD:HHMM-HHMM"></wa-input>
    <wa-input id="apikeyipwhitelist" label="IP whitelist" placeholder="192.168.1.1/32,10.0.0.0/24"></wa-input>
    <wa-input id="apikeyexpiresat" label="Expire date" required placeholder="YYYY-MM-DD"></wa-input>
    <wa-select id="apikeyactive" label="Status" required>
      <wa-option value="A">Active</wa-option>
      <wa-option value="I">Inactive</wa-option>
    </wa-select>
  </div>
  <wa-button id="apikeysave" slot="footer" variant="brand" disabled="disabled">Save</wa-button>
  <wa-button id="apikeycancel" slot="footer" appearance="outlined">Cancel</wa-button>
</wa-dialog>
