<wa-dialog id="apikeysecretdialog" label="API Key secret" light-dismiss>
  <wa-callout open variant="warning">
    This is the new API Key: <strong>copy the secret</strong> before closing this dialog, because you won't be able to see it again
    <wa-icon slot="icon" name="exclamation"></wa-icon>
  </wa-callout>
  <br/>
  <div class="wa-stack">
    <wa-input id="apikeynewid" disabled label="API key">
      <wa-copy-button slot="end" from="apikeynewid.value"></wa-copy-button>
    </wa-input>
    <wa-input id="apikeysecret" disabled label="Secret">
      <wa-copy-button slot="end" from="apikeysecret.value"></wa-copy-button>
    </wa-input>
  </div>
  <wa-button id="apikeysecretclose" slot="footer">Close</wa-button>
</wa-dialog>
