<wa-dialog id="confirmdialog"  class="dialog-footer" label="Dialog">
  <span id="confirmdialogtext"></span>
  <wa-button slot="footer" id="confirmok" variant="brand">OK</wa-button>
  <wa-button slot="footer" data-dialog="close" id="confirmcancel">Cancel</wa-button>
</wa-dialog>