<div id="confirmdialog" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 id="confirmdialogtitle" class="text-light mb-0"></h5>
      </div>
      <div class="modal-body">
      <span id="confirmdialogtext"></span>
      </div>
      <div class="modal-footer">
        <button id="confirmdialogok" type="button" class="btn btn-primary">Confirm</button>
        <button id="confirmdialogcancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>