<sl-dialog id="confirmdialog" label="Dialog" class="dialog-deny-close">
  <span id="confirmdialogtext"></span>
  <sl-button slot="footer" id="confirmok" variant="primary">OK</sl-button>
  <sl-button slot="footer" id="confirmcancel">Cancel</sl-button>
</sl-dialog>