<wa-dialog id="confirmdialog" label="Dialog" class="dialog-deny-close">
  <span id="confirmdialogtext"></span>
  <wa-button slot="footer" id="confirmok" variant="primary">OK</wa-button>
  <wa-button slot="footer" id="confirmcancel">Cancel</wa-button>
</wa-dialog>