<div id="removefolderdialog" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="text-light">Delete folder</h5>
      </div>
      <div class="modal-body">
      <strong><span class="text-danger">Are you sure you want to delete this folder?</span></strong>
      <input type="hidden" id="folderremoveid">
      </div>
      <div class="modal-footer">
        <button id="folderremove" type="button" class="btn btn-danger" onclick="javascript:folderRemove()">Delete</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>