<sl-dialog id="foldercreatedialog" label="New subfoler" class="dialog-deny-close">
  <p>Create a new folder in current selected folder.</p>
  <sl-input id="foldercreatedescription" label="Description" required autofocus maxlength="100"></sl-input>
  <sl-button id="foldercreatesave" slot="footer" variant="primary" disabled="disabled">Save</sl-button>
  <sl-button id="foldercreatecancel" slot="footer">Cancel</sl-button>
</sl-dialog>
