  <script defer src="/public/js/passweaver-gui.js" type="text/javascript"></script>
  <script defer src="/public/js/grouppicker.js" type="text/javascript"></script>
  <script defer src="/public/js/userpicker.js" type="text/javascript"></script>
</body>
</html>