<wa-dialog id="generatedialog" class="dialog-footer" light-dismiss label="Generate secure password" class="dialog-deny-close" style="--width: 30vw;">
  <div class="wa-stack">
  <wa-slider id="passwordlength" label="Password length" min="10" max="30" value="<%= passwordlength %>" with-markers with-tooltip>
    <span slot="reference">10</span>
    <span slot="reference">20</span>
    <span slot="reference">30</span>
  </wa-slider>
  <wa-input style="width:25em;" class="monospace" type="text" readonly="readonly" id="generatedpassword" label="With symbols">
    <wa-copy-button slot="end" title='Copy to clipboard' id="copypassword" from="generatedpassword.value"></wa-copy-button>
    <wa-button slot="end" size="small" appearance="plain" title='Generate a new password' id="generate">
      <wa-icon name="refresh" label="Generate a new password"></wa-icon>
    </wa-button>
    <wa-button slot="end" title='Generate a one time secret' size="small" appearance="plain" id="onetime">
      <wa-icon name="1" label="Generate a one time secret"></wa-icon>
    </wa-button>
  </wa-input>
  <wa-input style="width:25em;" class="monospace" type="text" readonly="readonly" id="generatedpasswordns" label="Without symbols">
    <wa-copy-button slot="end" title='Copy to clipboard' id="copypasswordns" from="generatedpasswordns.value"></wa-copy-button>
    <wa-button slot="end" size="small" appearance="plain" title='Generate a new password' id="generatens">
      <wa-icon name="refresh" label="Generate a new password"></wa-icon>
    </wa-button>
    <wa-button slot="end" title='Generate a one time secret' size="small" appearance="plain" id="onetimens">
      <wa-icon name="1" label="Generate a one time secret"></wa-icon>
    </wa-button>
  </wa-input>
  </div>
  <wa-button slot="footer" data-dialog="close" appearance="outlined">Close</wa-button>
</wa-dialog>