<sl-dialog id="grouppickerdialog" label="Choose a group">
  <sl-input autofocus id="grouppickersearch" name="grouppickersearch" placeholder="Search group" clearable>
    <sl-icon slot="prefix" name="search"></sl-icon>
  </sl-input>
  <sl-divider></sl-divider>
  <div style="height:20em;max-height:20em;">
    <table id="grouppickertable">
      <thead>
        <tr>
          <th>Choose</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</sl-dialog>