<div id="editgroupdialog" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="text-light mb-0">Edit group</h5>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control border-danger" autofocus id="groupeditdescription" name="groupeditdescription" required="required" placeholder="fake" onkeyup="javascript:groupEditEnable()">
          <label for="groupeditdescription" class="form-label">Description (required)</label>
        </div>
        <input type="hidden" id="groupeditid">
      </div>
      <div class="modal-footer">
        <button id="groupedit" type="button" class="btn btn-primary" onclick="javascript:groupEdit()">Update group</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>