<!DOCTYPE html>
<html lang="en" class="wa-<%- theme %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/public/v<%= version%>/css/passweaver.css" rel="stylesheet">

  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/themes/default.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/webawesome.css" />
  <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/webawesome.loader.js"></script>
  <title>PassWeaver</title>
</head>
<body>
  <input type="hidden" id="v-user" value="<%= user %>" />