<sl-dialog id="itemcreatedialog" label="New item">
  <sl-input label="Title" id="newtitle" name="newtitle" required="required" autofocus maxlength="200"></sl-input>
  <sl-select label="Type" id="newtype" name="edittype"></sl-select>
  <sl-textarea label="Description" id="newdescription" name="newdescription"></sl-textarea>
  <sl-input label="Email" id="newemail" name="newemail"></sl-input>
  <sl-input label="URL / Host" id="newurl" name="newurl"></sl-input>
  <sl-input label="User" id="newuser" name="newuser"></sl-input>
  <div id="newhack">
    <sl-input label="Password" id="newpassword" name="newpassword" type="password" password-toggle>
    <sl-icon-button slot="suffix" name="magic" title='Generate a new password' id="newgenerate"></sl-icon-button>
  </sl-input>
  </div>
  <sl-button id="itemcreatesave" disabled="disabled" slot="footer" variant="primary">Save</sl-button>
  <sl-button id="itemcreatecancel" slot="footer">Cancel</sl-button>
</sl-dialog>