<div id="viewitemdialog" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="text-light mb-0">View item</h5>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-1">
          <input type="text" class="form-control" autofocus id="viewtitle" name="viewtitle" readonly placeholder="fake">
          <label for="viewtitle" class="form-label">Title</label>
        </div>
        <div class="form-floating mb-1">
          <textarea type="text" class="form-control" id="viewdescription" name="viewdescription" rows="3" readonly placeholder="fake" ></textarea>
          <label for="viewdescription" class="form-label">Description</label>
        </div>
        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="viewemail" name="viewemail" readonly placeholder="fake">
          <label for="viewemail" class="form-label">Email</label>
        </div>
        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="viewurl" name="viewurl" readonly placeholder="fake">
          <label for="viewurl" class="form-label">URL</label>
        </div>
        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="viewuser" name="viewuser" readonly placeholder="fake">
          <label for="viewuser" class="form-label">User</label>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="viewpassword" name="viewpassword" readonly placeholder="fake">
              <label for="viewpassword" class="form-label">Password</label>
            </div>
            <button id="toggleviewpassword" type="button" class="btn btn-secondary"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
        <input type="hidden" id="itemviewid">
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>