<wa-dialog id="itemactivitydialog" with-header label="Item activity" class="dialog-deny-close" style="--width: 40vw;">
  <wa-visually-hidden id="itemactivityid"></wa-visually-hidden>
  <table id="itemactivitytable">
    <thead>
      <tr>
        <th>UTC time</th>
        <th>User</th>
        <th>Action</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <wa-button id="itemactivityload" slot="footer" variant="brand">Load more</wa-button>
</wa-dialog>
