<sl-dialog id="itemactivitydialog" label="Item activity" class="dialog-deny-close" style="--width: 40vw;">
  <sl-visually-hidden id="itemactivityid"></sl-visually-hidden>
  <table id="itemactivitytable">
    <thead>
      <tr>
        <th>UTC time</th>
        <th>User</th>
        <th>Action</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <sl-button id="itemactivityload" slot="footer" variant="primary">Load more</sl-button>
</sl-dialog>
