<wa-dialog id="kmsdialog" label="KMS" light-dismiss class="dialog-footer">
  <wa-input id="kmsdialogid" style="display: none;"></wa-input>
  <div class="wa-stack">
    <wa-input id="kmsdescription" label="Description" required autofocus maxlength="50"></wa-input>
    <wa-select id="kmstype" label="Type" required>
      <wa-option value="1">Local key</wa-option>
      <wa-option value="2">Google Cloud KMS</wa-option>
    </wa-select>
    <wa-textarea rows="10" id="kmsconfig" label="Config JSON" required></wa-textarea>
    <wa-checkbox id="kmsactive" label="Active">Active</wa-checkbox>
  </div>
  <wa-button id="kmssave" slot="footer" variant="brand" disabled="disabled">Save</wa-button>
  <wa-button id="kmscancel" slot="footer">Cancel</wa-button>
</wa-dialog>
