<wa-dialog id="personalpasswordset"  class="dialog-footer" light-dismiss label="Unlock personal folders">
  <p>
    Personal password is required for accessing your personal items.
  </p>
  <div class="wa-stack">
    <wa-input type="password" id="personalpasswordask" name="personalpasswordask" autofocus="autofocus" password-toggle required with-clear></wa-input>
    <wa-callout id="personalpasswordsetalert" variant="danger">
      <wa-icon slot="icon" name="circle-exclamation"></wa-icon>
      Wrong password. Please try again.
    </wa-callout>
  </div>
  <wa-button id="personalpasswordsetbutton" slot="footer" variant="brand">Unlock</wa-button>
  <wa-button id="personalpasswordsetcancel" data-dialog="close" slot="footer">Cancel</wa-button>
</wa-dialog>
