<sl-dialog id="personalpasswordnew" label="Set personal password">
  <p>
    This password will be used for encrypting and accessing your personal folder. Note that this password <strong>cannot be
    recovered</strong>, and if you loose it you won't be able to access your personal items anymore.
    <br><br>
    Password must be <strong>at least 8 characters</strong>.
  </p>
  <sl-input type="password" id="newpersonalpassword" name="newpersonalpassword" autofocus="autofocus" password-toggle required></sl-input>
  <sl-input type="password" id="newpersonalpasswordconfirm" name="newpersonalpasswordconfirm" password-toggle required></sl-input>
  <sl-button id="personalpasswordcreate" disabled="disabled" variant="primary" slot="footer">Store password</sl-button>
  <sl-button id="personalpasswordcancel" slot="footer">Cancel</sl-button>
</sl-dialog>