<div id="personalpasswordset" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header v-themebg">
        <h5 class="mb-0">Personal password</h5>
      </div>
      <div class="modal-body">
        <p class="mb-3">
          Personal password is required for accessing your personal items.
        </p>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="personalpasswordask" name="personalpasswordask" autofocus="autofocus" placeholder="fake">
              <label for="personalpasswordask" class="form-label">Password</label>
            </div>
            <button id="togglepersonalpassword" class="btn btn-warning"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="personalpasswordsetbutton" type="button" class="btn btn-primary">Continue</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>