<div id="personalpasswordnew" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header v-themebg">
        <h5 class="mb-0">Set personal password</h5>
      </div>
      <div class="modal-body">
        <p class="mb-3">
          This password will be used for encrypting and accessing your personal folder. Note that this password <strong>cannot be
          recovered</strong>, and if you loose it you won't be able to access your personal items anymore.
          <br><br>
          Password must be <strong>at least 8 characters</strong>.
        </p>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="newpersonalpassword" name="newpersonalpassword" autofocus="autofocus" placeholder="fake">
              <label for="newpersonalpassword" class="form-label">Password</label>
            </div>
            <button id="togglenewpersonalpassword" class="btn btn-warning"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="newpersonalpasswordconfirm" name="newpersonalpasswordconfirm" placeholder="fake">
              <label for="newpersonalpasswordconfirm" class="form-label">Confirm password</label>
            </div>
            <button id="togglenewpersonalpasswordconfirm" class="btn btn-warning"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="personalpasswordcreate" type="button" class="btn btn-primary" disabled="disabled">Store password</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>