<wa-dialog id="personalpasswordnew"  class="dialog-footer" label="Set personal password">
  <p>
    This password will be used for encrypting and accessing your personal folder.
    <br><br>
    Password must be <strong>at least 8 characters</strong> long.
  </p>
  <div class="wa-stack">
    <wa-input type="password" id="newpersonalpassword" label="Password" name="newpersonalpassword" autofocus="autofocus" password-toggle required></wa-input>
    <wa-input type="password" id="newpersonalpasswordconfirm" label="Confirm Password" name="newpersonalpasswordconfirm" password-toggle required></wa-input>
  </div>
  <wa-button id="personalpasswordcreate" disabled variant="brand" slot="footer">Save password</wa-button>
  <wa-button id="personalpasswordcancel" data-dialog="close" slot="footer" appearance="outlined">Cancel</wa-button>
</wa-dialog>