<sl-dialog id="personalpasswordset" label="Unlock personal folders">
  <p>
    Personal password is required for accessing your personal items.
  </p>
  <sl-input type="password" id="personalpasswordask" name="personalpasswordask" autofocus="autofocus" password-toggle required></sl-input>
  <sl-alert id="personalpasswordsetalert" variant="danger">
    <sl-icon slot="icon" name="exclamation-circle"></sl-icon>
    Wrong password. Please try again.
  </sl-alert>
  <sl-button id="personalpasswordsetbutton" slot="footer" variant="primary">Unlock</sl-button>
  <sl-button id="personalpasswordsetcancel" slot="footer">Cancel</sl-button>
</sl-dialog>