<sl-dialog id="personalpasswordset" label="Personal password">
  <p>
    Personal password is required for accessing your personal items.
  </p>
  <sl-input type="password" id="personalpasswordask" name="personalpasswordask" autofocus="autofocus" password-toggle required></sl-input>
  <sl-button id="personalpasswordsetbutton" slot="footer" variant="primary">Save</sl-button>
  <sl-button id="personalpasswordsetcancel" slot="footer">Cancel</sl-button>
</sl-dialog>