<sl-dialog id="pickerdialog" label="Choose">
  <sl-input autofocus id="pickersearch" name="pickersearch" placeholder="Search " clearable>
    <sl-icon slot="prefix" name="search"></sl-icon>
  </sl-input>
  <sl-divider></sl-divider>
  <div style="height:20em;max-height:20em;">
    <table id="pickertable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</sl-dialog>
