<wa-dialog id="pickerdialog" with-header light-dismiss label="Choose">
  <wa-input autofocus id="pickersearch" name="pickersearch" placeholder="Search " clearable>
    <wa-icon slot="prefix" name="search"></wa-icon>
  </wa-input>
  <wa-divider></wa-divider>
  <div style="height:20em;max-height:20em;">
    <table id="pickertable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</wa-dialog>
