<wa-dialog id="pickerdialog"  light-dismiss label="Choose">
  <div class="wa-stack">
    <wa-input autofocus id="pickersearch" name="pickersearch" placeholder="Search " with-clear>
      <wa-icon slot="start" name="search"></wa-icon>
    </wa-input>
    <div style="height:20em;max-height:20em;">
      <table id="pickertable">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</wa-dialog>
