<wa-dialog id="scopeselect" with-header with-footer light-dismiss label="Choose share target">
  <wa-input style="display:none;" id="shareitemid"></wa-input>
  <p>Select who you want to share this secret with:</p>
  <wa-radio-group id="scope" name="scope" value="1" orientation="vertical">
    <wa-radio-button value="0">Anyone</wa-radio-button>
    <wa-radio-button value="1">Anyone logged in PassWeaver</wa-radio-button>
    <wa-radio-button value="2">A single PassWeaver user</wa-radio-button>
  </wa-radio-group>
  <br />
  <div id="selectuser" style="visibility: hidden; display: flex;">
    <wa-input style="display:none;" id="scopeuser"></wa-input>
    <wa-button id="searchuser" variant="warning">Select user</wa-button>
    <wa-input id="scopeuserdesc" readonly></wa-input>
  </div>
  <wa-button id='sharesave' slot="footer" variant="brand" disabled>Share</wa-button>
</wa-dialog>