<wa-dialog id="scopeselect" label="Choose share target">
  <wa-visually-hidden id="shareitemid"></wa-visually-hidden>
  <p>Select who you want to share this secret with:</p>
  <wa-radio-group id="scope" name="scope" value="1">
    <wa-radio-button value="0">Anyone</wa-radio-button>
    <wa-radio-button value="1">Anyone logged in PassWeaver</wa-radio-button>
    <wa-radio-button value="2">A single PassWeaver user</wa-radio-button>
  </wa-radio-group>
  <br />
  <div id="selectuser" style="visibility: hidden; display: flex;">
    <wa-visually-hidden id="scopeuser"></wa-visually-hidden>
    <wa-button id="searchuser" variant="warning">Select user</wa-button>
    <wa-input id="scopeuserdesc" readonly></wa-input>
  </div>
  <wa-button id='sharesave' slot="footer" variant="primary" disabled>Share</wa-button>
</wa-dialog>