<div id="searchbox" class="searchbox" style="visibility: hidden;">
  <p>Top 10 matching items</p>
  <table id="searchboxtable" class="bordered" style="position: absolute; overflow: auto;">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
  <sl-button variant="primary" id="searchboxmore" class="searchboxmore">Show more items...</sl-button>
</div>