<div id="searchbox" class="searchbox" style="visibility: hidden;">
  <p>Top 10 matching items</p>
  <table id="searchboxtable" style="width:95%; position: absolute; overflow: auto;">
    <thead>
      <tr>
        <th style="xwidth: 50%;">Name</th>
        <th style="xwidth: 25%;">Type</th>
        <th style="xwidth: 25%;">Location</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <wa-button variant="brand" id="searchboxmore" class="searchboxmore">Show more items...</wa-button>
</div>