<div id="searchbox" class="searchbox" style="visibility: hidden;">
  <p>Top 10 matching items</p>
  <table id="searchboxtable" style="width:95%; position: absolute; overflow: auto;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Folder</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <wa-button variant="brand" id="searchboxmore" class="searchboxmore">Show more items...</wa-button>
</div>