<div id="searchbox" class="searchbox" style="visibility: hidden;">
  <table id="searchboxtable" class="bordered" style="position: absolute; overflow: auto;">
    <thead>
      <tr class="sticky">
        <th style="white-space:no-wrap;">Actions</th>
        <th>Folder</th>
        <th>Type</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <sl-button variant="primary" id="searchboxmore" class="searchboxmore">Show more</sl-button>
</div>