<div id="searchbox" class="searchbox" style="visibility: hidden;">
  <table id="searchboxtable" class="bordered" style="display:block; max-height: calc(100vh - var(--bottom-margin)); overflow-y: auto;">
    <thead>
      <tr class="sticky">
        <th style="white-space:no-wrap;">Actions</th>
        <th>Folder</th>
        <th>Type</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>