<div class="page-sidebar">
  <div class="logo">
    <img src="/public/v<%= version %>/images/passweaver-icon-light.png" width="36px"></img>
  </div>

  <input type="hidden" id="pageid" value="<%- pageid %>"></input>
  <div class="companyname">
    <%= company_name %>
  </div>

</div>
