<div class="col-sm-auto bg-light sticky-top" id="sidebar">
  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
    <a href="#" class="d-block p-3 link-dark text-decoration-none" title="Vaulted" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <i class="fa-solid fa-lock fs-3"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
      <li class="nav-item">
        <a href="/pages/items" class="nav-link py-3 px-2" title="Items" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Items">
          <i class="fa-solid fa-list fs-3"></i>
        </a>
      </li>
      <li>
        <a href="/logout" class="nav-link py-3 px-2" title="Logout" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout">
          <i class="fa-solid fa-arrow-right-from-bracket fs-3"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
