<div class="col-sm-auto bg-dark sticky-top" id="sidebar">
  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
    <a href="#" class="d-block p-3 text-primary" title="Vaulted" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <i class="fa-solid fa-lock fs-3"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
      <li class="nav-item">
        <a href="/pages/items" class="nav-link py-3 px-2 text-light" title="Items" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Items">
          <i class="fa-solid fa-list fs-3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/users" class="nav-link py-3 px-2 text-light" title="Users" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Users">
          <i class="fa-solid fa-users fs-3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/groups" class="nav-link py-3 px-2 text-light" title="Groups" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Groups">
          <i class="fa-solid fa-users-rectangle fs-3"></i>
        </a>
      </li>
      <li>
        <a href="/logout" class="nav-link py-3 px-2 text-light" title="Logout" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout">
          <i class="fa-solid fa-arrow-right-from-bracket fs-3"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
