<div class="page-sidebar">
  <div class="logo">
    <img src="/public/images/passweaver-icon-light.png" width="36px"></img>
  </div>

  <input type="hidden" id="pageid" value="<%- pageid %>"></input>
  <% if ( !admin ) { %>
    <a href="/pages/items" title="Items" class="link" pageid="items">
      <sl-icon name="folder2-open"></sl-icon>
      Items
    </a>
    <a href="/pages/search" title="Search" class="link" pageid="search">
      <sl-icon name="search"></sl-icon>
      Search</a>
    </a>
  <% } %>
  <% if ( admin ) { %>
    <a href="/pages/folders" title="Folders" class="link" pageid="folders">
      <sl-icon name="folder2-open"></sl-icon>
      Folders
    </a>
    <a href="/pages/users" title="Users" class="link" pageid="users">
      <sl-icon name="person"></sl-icon>
      Users
    </a>
    <a href="/pages/groups" title="Groups" class="link" pageid="groups">
      <sl-icon name="people"></sl-icon>
      Groups
    </a>
  <% } %>
  <a href="/pages/generate" title="Generator" class="link" pageid="generate">
    <sl-icon name="magic"></sl-icon>
    Generator
  </a>
  <% if ( admin ) { %>
    <a href="/pages/info" title="Info" class="link" pageid="info">
      <sl-icon name="info-circle"></sl-icon>
      Info
    </a>
  <% } %>
  <a href="/pages/preferences" title="preferences" class="link" pageid="preferences">
    <sl-icon name="sliders" page="Logout"></sl-icon>
    Preferences
  </a>
  <a href="/logout" title="Logout" class="link">
    <sl-icon name="box-arrow-right" page="Logout"></sl-icon>
    Logout
  </a>
</div>
