<div class="page-sidebar">
  <div class="logo">
    <img src="/public/images/passweaver-icon-light.png" width="36px"></img>
  </div>

  <input type="hidden" id="pageid" value="<%- pageid %>"></input>
  <a href="/login" title="Login" class="link">
    <sl-icon name="box-arrow-in-right" page="Login"></sl-icon>
    Login
  </a>
</div>
