<div class="col-sm-auto bg-dark sticky-top p-0" id="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sticky-top">
    <a href="#" class="d-block p-3 text-white text-decoration-none text-center" title="Vaulted" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <i class="fa-solid fa-lock fs-3"></i>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/pages/items" class="nav-link text-white" title="Items" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="items">
          <i class="fa-solid fa-fw fa-list m-2"></i>
          Items
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/folders" class="nav-link text-white" title="Folders" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="folders">
          <i class="fa-solid fa-fw fa-key m-2"></i>
          Auth
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/users" class="nav-link text-white" title="Users" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="users">
          <i class="fa-solid fa-fw fa-user m-2"></i>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/groups" class="nav-link text-white" title="Groups" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="groups">
          <i class="fa-solid fa-fw fa-users m-2"></i>
          Groups
        </a>
      </li>
      <li>
        <a href="/logout" class="nav-link text-white" title="Logout" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout">
          <i class="fa-solid fa-fw fa-arrow-right-from-bracket m-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
