<div id="toast" class="alert alert-info alert-dismissible fade position-fixed" style="bottom:40px; right:200px; z-index:10000;" role="alert">
  <span id="toasttext"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
