<div class="header">
  <div style="display:flex;justify-content:center;padding:0 1rem 0 1rem;">
    <% if ( !admin && user ) { %>
    <wa-input style="align-self:center;padding:0;margin:0;flex-grow:0;width:30rem;" id="globalsearch" size="small" type="text" placeholder="Search items (Ctrl+\)" clearable>
      <wa-icon slot="prefix" name="search"></wa-icon>
    </wa-input>
    <% } %>
  </div>
</div>
