<div class="row bg-dark sticky-top v-topbar mb-2">
  <h3 class="m-0 pt-2 text-center text-light"><strong>Vaulted - <%- pagetitle %></strong></h3>
  <div class="text-light" style="position:absolute;top:1em;text-align:right;padding-right:4em;"><%- userdescription %></div>
</div>