<sl-dialog id="userpickerdialog" label="Choose a user">
  <sl-input autofocus id="userpickersearch" name="userpickersearch" placeholder="Search user" clearable>
    <sl-icon slot="prefix" name="search"></sl-icon>
  </sl-input>
  <sl-divider></sl-divider>
  <div style="height:20em;max-height:20em;">
    <table id="userpickertable">
      <thead>
        <tr>
          <th>Choose</th>
          <th>Login</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</sl-dialog>
