<sl-dialog id="useractivitydialog" label="User activity" class="dialog-deny-close" style="--width: 50vw;">
  <table id="useractivitytable">
    <thead>
      <tr>
        <th>UTC time</th>
        <th>Entity</th>
        <th>Action</th>
        <th>Item</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <sl-button id="useractivityload" slot="footer" variant="primary">Load more</sl-button>
</sl-dialog>
