<div id="removeuserdialog" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="text-light mb-0">Delete user</h5>
      </div>
      <div class="modal-body">
      <strong><span class="text-danger">Are you sure you want to delete this user? Also his personal folder and contained items will be deleted!</span></strong>
      <input type="hidden" id="userremoveid">
      </div>
      <div class="modal-footer">
        <button id="userremove" type="button" class="btn btn-danger" onclick="javascript:userRemove()">Delete</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>