<wa-dialog id="useractivitydialog" width-header with-footer label="User activity" class="dialog-deny-close" style="--width: 50vw;">
  <table id="useractivitytable">
    <thead>
      <tr>
        <th>UTC time</th>
        <th>Action</th>
        <th>Entity</th>
        <th>Entity description</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <wa-button id="useractivityload" slot="footer" variant="primary">Load more</wa-button>
</wa-dialog>
