<sl-dialog id="edituserdialog" label="Edit user" class="dialog-deny-close">
  <sl-input label="Login" id="editlogin" name="editlogin" required="required" autofocus maxlength="50"></sl-input>
  <sl-input type="email" label="Email" id="editemail" required="required" name="editemail" maxlength="50"></sl-input>
  <sl-input label="Last name" id="editlastname" name="editlastname" required="required" maxlength="100"></sl-input>
  <sl-input label="First name" id="editfirstname" name="editfirstname" maxlength="100"></sl-input>
  <sl-select label="Locale" id="editlocale" name="editlocale">
    <sl-option value="en_US">en_US</sl-option>
  </sl-select>
  <sl-select label="Authentication method" id="editauthmethod" name="editauthmethod">
    <sl-option value="local">Local</sl-option>
    <sl-option value="ldap">LDAP</sl-option>
    <sl-option value="apikey">API key</sl-option>
  </sl-select>
  <sl-checkbox id="editactive" name="editactive">Active</sl-checkbox>
  <br/>
  <br/>
  <sl-alert id="editapikeywarning" variant="warning">
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <strong>User has connected API keys</strong><br />
    If you disable this user, all API keys will be disabled too.
  </sl-alert>
  <sl-button id="useredit" slot="footer" variant="primary">Save</button>
  <sl-button id="cancel" slot="footer">Cancel</button>
</sl-dialog>