<div id="newuserdialog" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header v-themebg">
        <h5 class="mb-0">New user</h5>
      </div>
      <div class="modal-body">
        <div class="row g-2">
          <div class="col-md form-floating mb-3">
            <input type="text" class="form-control border-danger" autofocus id="newlogin" name="newlogin" required="required" placeholder="fake">
            <label for="newlogin" class="form-label">Login (required)</label>
          </div>
          <div class="col form-floating mb-3">
            <input type="email" class="form-control border-danger" id="newemail" required="required" name="newemail" placeholder="fake" ></input>
            <label for="newemail" class="form-label">Email (required)</label>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md form-floating mb-3">
            <input type="text" class="form-control border-danger" id="newlastname" name="newlastname" required="required" placeholder="fake">
            <label for="newlastname" class="form-label">Last name (required)</label>
          </div>
          <div class="col-md form-floating mb-3">
            <input type="text" class="form-control" id="newfirstname" name="newfirstname" placeholder="fake">
            <label for="newfirstname" class="form-label">First name</label>
          </div>
        </div>
        <div class="row g-2">
          <div class="col form-floating mb-3">
            <select class="form-select" id="newlocale" name="newlocale" placeholder="fake">
              <option selected>en_US</option>
            </select>
            <label for="newlocale" class="form-label">Locale</label>
          </div>
          <div class="col form-floating mb-3">
            <select class="form-select" id="newauthmethod" name="newauthmethod" placeholder="fake">
              <option selected>local</option>
              <option>LDAP</option>
            </select>
            <label for="newauthmethod" class="form-label">Auth method</label>
          </div>
          <div class="col-md mb-3">
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="newactive" name="newactive" checked="checked">
              <label for="newactive" class="form-check-label">Active</label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="fake">
              <label for="newpassword" class="form-label">Password</label>
            </div>
            <button id="togglenewpassword" class="btn btn-warning"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="form-floating input-group">
              <input type="password" class="form-control" id="newpasswordconfirm" name="newpasswordconfirm" placeholder="fake">
              <label for="newpasswordconfirm" class="form-label">Confirm password</label>
            </div>
            <button id="togglenewpasswordconfirm" class="btn btn-warning"><span class="fa-solid fa-eye-slash"></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="usercreate" type="button" class="btn btn-primary" disabled="disabled">Create user</button>
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>