<%- include('partials/header.ejs') %>

<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-4">
      <h3 class="mb-4">Vaulted - <%- company_name %></h1>
      <h5 class="mb-4">Login</h2>
      <form class="mb-3" id="loginForm" action="access" method="post">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" autofocus id="username" name="username" placeholder="User">
          <label for="username">User</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="password">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="mb-3 btn btn-primary" onclick="javascript:spinnerShow()">Login</button>
        <% if ( error ) { %>
          <div class="mb-3 alert alert-danger">
            <%= error %>
          </div>
        <% } %>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>