@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:not(:defined) {
  visibility: hidden;
}

:root {
  font-size: 14px;
  --wa-font-family-body: "Ubuntu";
  --theme-color: #ea9e34;
  --theme-sidebar-bgcolor: #1a1c20;
  --theme-sidebar-color: rgb(255, 255, 255);
  --theme-sidebar-current-bgcolor: var(--theme-color);
  --theme-sidebar-current-color: rgb(255, 255, 255);
  --theme-header-bgcolor: var(--theme-sidebar-bgcolor);
  --theme-header-color: rgb(255, 255, 255);
  --theme-page-border-color: rgb(173, 173, 173);
  --bottom-margin: 11rem;
  --indent-guide-width: 1px;
  --wa-form-control-required-content-color: red;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

/** CSS Grid */
.login-container {
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: auto;
  height: 100vh;
  gap: 1px;
}

.login-content {
  display: grid;
  grid-area: main;
  place-self: center;
  width: 20%;
}

.page-container {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main1 main2";
  grid-template-rows: 3em calc(100vh - 3em);
  grid-template-columns: 10em auto 1fr;
  height: 100vh;
  max-height: 100vh;
}

.page-sidebar {
  grid-area: sidebar;
  background-color: var(--theme-sidebar-bgcolor);
  color: var(--theme-sidebar-color);
  max-height: calc(100vh);
}

.page-sidebar .link {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 0.8em 0 0.8em 0.8em;
  margin: 0 0.5em 0 0.5em;
  color: var(--theme-sidebar-color);
  border-radius: 8px;
}

.page-sidebar .link:hover {
  background-color: #636363;
}

.dragover {
  background-color: var(--wa-color-brand-fill-normal);
}

.page-sidebar wa-icon {
  font-size: 0.8rem;
  width: 1rem;
}

.page-sidebar .link wa-icon {
  padding-right: 0.5em;
}

.page-sidebar .current {
  background-color: var(--theme-sidebar-current-bgcolor);
  color: var(--theme-sidebar-current-color);
}

.page-sidebar .logo {
  text-align: center;
  margin: 1.5em 0 0.5em 0;
}

.header {
  grid-area: header;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  background-color: var(--theme-header-bgcolor);
  color: var(--theme-header-color);
  font-size: 150%;
  font-weight: bold;
}

.main1 {
  grid-area: main1;
  padding-top: 0.5rem;
  padding-left: 1em;
  padding-right: 1em;
  max-height: calc(100vh - 4rem);
}

.main2 {
  grid-area: main2;
  padding-left: 1em;
  padding-top: 0.5rem;
  max-height: calc(100vh - 4rem);
  min-width: 0;
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: var(--wa-color-border-quiet);
}

.companyname {
  text-align: center;
  font-weight: bold;
  position: static;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.username {
  font-size: 90%;
  font-style: italic;
  text-align: center;
  position: static;
  padding-left: 10px;
  padding-right: 10px;
}

.version {
  text-align: center;
  font-size: 80%;
  opacity: 50%;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.version a {
  color: inherit;
}

/** Customization */
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 4px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: var(--wa-color-surface-lowered);
  text-align: start;
}

tr {
  border-inline-start-color: transparent;
  border-inline-start-width: 3px;
  border-inline-end-width: 0;
  border-inline-style: solid;
}

.bold {
  font-weight: bold;
}

.border-start {
  border-left: 1px solid var(--wa-color-border-quiet);
}

.border-end {
  border-right: 1px solid var(--wa-color-border-quiet);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--wa-color-surface-lowered);
}

.monospace {
  font-family: monospace !important;
}

.rowselected {
  border-inline-start-color: var(--wa-color-brand-50);
  border-inline-end-color: var(--wa-color-brand-50);
  border-inline-width: 3px;
  border-inline-style: solid;
  font-weight: bold;
}

.itemtitle {
  background-color: var(--wa-color-surface-lowered);
  cursor: pointer;
}

.searchbox {
  position: fixed;
  top: 3.5em;
  width: 50%;
  height: 30em;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
  border-radius: 8px;
  border-color: var(--wa-color-neutral-70);
  background-color: var(--wa-color-surface-default);
}

.searchboxmore {
  position: absolute;
  top: 1em;
  right: 2em;
  visibility: hidden;
}

td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  vertical-align: middle;
}

/* WebAwesome */
wa-tree-item::part(item) {
  cursor: pointer;
}

wa-tree-item[selected]::part(label) {
  font-weight: bold;
}

wa-tree {
  --indent-guide-width: 1px;
  --indent-size: var(--wa-spacing-s);
}

wa-copy-button {
  position: relative;
}
