body {
    background: url('/public/images/vaulted-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#sidebar a {
    text-decoration: none;
}

div[role=treeitem] {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.collapsing {
    transition: none !important;
}